<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-center, initial-scale=1.0" />
    <script src="../js/vendor/modernizr.js"></script>
    <title>Localização-Amigos</title>
    <link rel="stylesheet" href="../css/foundationEntrar.css" />
    <link rel="stylesheet" href="../css/mobile.css" media="(max-width: 940px)">

    <script src="js/modernizr.js"></script>
  </head>
  <body id="imagem" >

  <form >
    <fieldset  >
  	<div class="row">
       <label>Email</label>
       <input type="text" placeholder="Email address">
   </div>
    <div class="row">
      <label>Password</label>
      <input type="password" placeholder="Password">
    </div>

    <ul class="right" >
      <div class="large-4 medium-4 columns" >
        <a href="index"  class="small round button" >Entrar</a></li>
        </div>
      </ul>

    <ul class="left" >
    <label .small><a href="#" >Redefinição de Senha</a> </label>
  </ul>
  </fieldset>
</form>


  <script src="../js/jquery.js"></script>
 
    <script src="../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>


</html>